{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}QR Code Generator{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Generate QR Code</h2>
    <p>QR codes may redirect to external content. Please ensure you trust the destination. Do not share sensitive data.</p>
    <form method="POST" action="{{ url_for('webui.index') }}">
        <label for="data">Data:</label>
        <input type="text" id="data" name="data" required pattern="[a-zA-Z0-9]+">

        <label for="fg">Foreground (QR dot) colour:</label>
        <input type="color" id="fg" name="fg" value="#000000">

        <label for="bg">Background colour:</label>
        <input type="color" id="bg" name="bg" value="#ffffff">

        <button type="submit">Generate</button>
    </form>
    
    {% if qr_code_url %}
    <h3>Step-by-Step Construction:</h3>

    <div id="slideshow" style="width:300px; height:300px;">
    <img id="slide" src="{{ url_for('static', filename='stage1_reserved.png') }}" width="300" height="300">
    </div>

    <script>
    const images = [
        "{{ url_for('static', filename='stage1_reserved.png') }}",
        "{{ url_for('static', filename='stage2_patterns_data.png') }}",
        "{{ url_for('static', filename='stage3_masked.png') }}",
        "{{ url_for('static', filename='stage4_final.png') }}"
    ];
    
    let index = 0;
    const imgElement = document.getElementById("slide");

    setInterval(() => {
        index = (index + 1) % images.length;
        imgElement.src = images[index];
    }, 2000); // 2 seconds per image
    </script>
    {% endif %}

{% endblock %}