{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}QR Code Generator{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Generate QR Code</h2>
    <form method="POST" action="{{ url_for('webui.index') }}">
        <label for="data">Data:</label>
        <input type="text" id="data" name="data" required pattern="[a-zA-Z0-9]+">

        <label for="version">QR Version:</label>
        <select name="version" id="version">
            <option value="1" selected>Version 1 (up to 19 chars)</option>
            <option value="2">Version 2 (up to 34 chars)</option>
        </select>

        <button type="submit">Generate</button>
    </form>
    
    {% if qr_code_url %}
        <h3>Generated QR Code:</h3>
        <img src="{{ qr_code_url }}" alt="QR Code">
    {% endif %}
{% endblock %}